DJANGO_SECRET_KEY=
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=paneles.gestionalda.es,localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=http://paneles.gestionalda.es

DB_NAME=paneles_gestionalda
DB_USER=paneles_app
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432
